<div class="panel panel-default">
  <div class="panel-heading"><%= t("crud.advanced_search_conditions") %></div>
  <div class="panel-body">
    <%= simple_form_for resource, wrapper: :horizontal_form, html: { class: "form-horizontal" }, method: "GET", url: "", remote: @remote do |f| %>
      <% stored_params(*stored_params_keys_for_advanced_search).each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
      <% columns_for_advanced_search.each do |column| %>
        <%= advanced_search_input f, column %>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-search"></i> <%= t("crud.action.advanced_search") %>
          </button>
          <a href="#" class="btn btn-clear"><%= t("crud.action.clear") %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
