<div class="navbar">
  <div class="pull-right">
    <%= render "index_menu" %>
  </div>

  <div class="pull-right">
    <%= render "search_form" %>
  </div>
</div>

<% if columns_for_advanced_search.present? %>
  <div id="<%= temp_id :advanced %>" style="display: none;"><%= render partial: "advanced_search_form" %></div>

  <%= javascript_tag do %>
    $(function() {
      var searchForm = $("#<%= temp_id :index %>").find("form.form-search");
      var url = searchForm.attr("action");
      var dropdown = $("#<%= temp_id :index %>").find(".form-search .dropdown-menu");
      var form = $("#<%= temp_id :advanced %>");

      dropdown.click(function(e) { e.stopPropagation(); });
      dropdown.on("change", ":checkbox", function() {
        form.find(".form-group").eq($(this).data("index")).toggle(this.checked);
        form.toggle(dropdown.find(":checkbox").is(":checked"));
      });

      form.find(".form-group label").each(function(index) {
        var checked = form.find(".form-group").eq(index).css("display") != "none";
        var checkbox = $("<input>").attr("type", "checkbox").data("index", index).prop("checked", checked);
        var label = $("<label>").append(checkbox, " " + $(this).text());
        dropdown.append($("<li>").append($("<a>").attr("href", "#").append(label)));
      });

      var data = [{name: "format", value: "form"}, {name: "form", value: "<%= temp_id(:advanced) %>"}];
      var updateForm = function() {
        form.find("form").attr("action", url);
        var group = form.find(".form-group");
        var checks = dropdown.find(":checkbox").each(function(index) {
          group.eq(index).toggle(this.checked);
        });
        form.toggle(checks.is(":checked"));
      };
      updateForm();
      form.on("change", ".operator", function() {
        $.get(url, data.concat($(this).closest("form").serializeArray())).then(updateForm);
      });
      form.on("click", ".btn-clear", function(event) {
        event.preventDefault();
        $.get(url, data).then(updateForm);
      });
    });
  <% end %>
<% end %>
