<div class="navbar">
  <div class="pull-right">
    <%= render "index_menu" %>
  </div>

  <div class="pull-right">
    <%= render "search_form" %>
  </div>
</div>

<% if columns_for_advanced_search.present? %>
  <div id="<%= temp_id :advanced %>" style="display: none;"><%= render partial: "advanced_search_form" if advanced_search? %></div>

  <%= javascript_tag do %>
    $(function() {
      var form = $("#<%= temp_id :advanced %>");
      var toggle = $("#<%= temp_id :index %>").find(".advanced-search-toggle");
      var url = toggle.closest("form").attr("action");
      var data = [{name: "format", value: "form"}, {name: "form", value: "<%= temp_id(:advanced) %>"}];
      var setFormAction = function() { form.find("form").attr("action", url); };
      setFormAction();
      toggle.click(function() {
        var button = $(this).blur();
        if (form.is(":empty")) {
          $.get(url, data).then(function() {
            setFormAction();
            button.addClass("active");
            button.find(".fa").removeClass("fa-caret-down").addClass("fa-caret-up");
            form.show();
          });
        } else {
          form.toggle();
          button.toggleClass("active");
          button.find(".fa").toggleClass("fa-caret-down").toggleClass("fa-caret-up");
        }
      });
      form.on("change", ".operator", function() {
        $.get(url, data.concat($(this).closest("form").serializeArray())).then(setFormAction);
      });
      form.on("click", ".btn-clear", function(event) {
        event.preventDefault();
        $.get(url, data).then(setFormAction);
      });
    });
  <% end %>
<% end %>
