<div class="navbar">
  <div class="pull-right">
    <%= render "index_menu" %>
  </div>

  <div class="pull-right">
    <%= render "search_form" %>
  </div>
</div>

<% if columns_for_advanced_search.present? %>
  <div id="<%= temp_id :advanced %>" style="display: none;"><%= render partial: "advanced_search_form" if advanced_search? %></div>

  <%= javascript_tag do %>
    $(function() {
      var form = $("#<%= temp_id :advanced %>");
      var url = "<%= url_for(stored_params(:sort_key, :sort_order, :per, format: :form, container: params[:container], form: temp_id(:advanced))).html_safe %>";
      $("#<%= temp_id :index %>").find(".advanced-search-toggle").click(function() {
        var button = $(this);
        if (form.is(":empty")) {
          $.get(url).then(function() {
            button.addClass("active");
            form.show();
          });
        } else {
          form.toggle();
          button.toggleClass("active");
        }
      });
      form.on("change", ".operator", function() {
        $.get(url, $(this).closest("form").serialize());
      });
    });
  <% end %>
<% end %>
