<div class="navbar">
  <div class="pull-right">
    <%= render "index_menu" %>
  </div>

  <div class="pull-right">
    <%= render "search_form" %>
  </div>
</div>

<% if enable_advanced_search? %>
  <%= content_tag(:div, id: @query.dom_id, class: "panel panel-default #{@query.empty? ? "collapse" : "collapse in"}") do %>
    <div class="panel-body">
      <%= simple_form_for resource, wrapper: :horizontal_form, html: { class: "form-horizontal" }, url: stored_params(:container, :sort_key, :sort_order, :per), method: "GET", remote: @remote do |f| %>
        <%= render partial: "queries", locals: {query: @query, f: f} %>
      <% end %>
    </div>
  <% end %>
<% end %>
