<%= javascript_tag do %>
  $(function() {
    var argsLength = <%= query.operator_args.to_json.html_safe %>;
    var queryPanel = $("#<%= query.dom_id %>");
    queryPanel.find(".advanced-search-fields .operator").change(function() {
      var self = $(this);
      switch (argsLength[self.val()]) {
        case 0:
          self.parent().find(".values").hide();
          break;
        case 1:
          self.parent().find(".values-last").hide();
          self.parent().find(".values-first").show();
          break;
        default:
          self.parent().find(".values").show();
          break;
      }
    }).change();
  });
<% end %>

<% query.columns.each do |column| %>
  <%= content_tag :div, class: "form-group" do %>
    <%= f.label column, required: false, class: "col-sm-2 control-label" %>
    <%= content_tag :div, advanced_search_selector(column, query), class: "col-sm-2" %>
    <%= content_tag :div, advanced_search_input(f, column, query, "first"), class: "col-sm-4" %>
    <%= content_tag :div, advanced_search_input(f, column, query, "last"), class: "col-sm-4" %>
  <% end %>
<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button id="advanced-search-button" type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-search"></i> <%= t("crud.message.advanced_search") %>
    </button>
  </div>
</div>
