<%= simple_form_for resource, html: { class: "form-search" }, method: "GET", url: stored_params(*stored_params_keys_for_search), remote: @remote do |f| %>
  <div class="normal-section">
    <% if columns_for_advanced_search.present? %>
      <button type="button" class="btn btn-secondary mr-2" id="filter">
        <%= crud_icon_tag :advanced_search %>
      </button>
    <% end %>
    <% stored_params(*stored_params_keys_for_search).each do |key, value| %>
      <% if value.is_a?(Array) %>
        <% value.each do |v| %>
          <%= hidden_field_tag "#{key}[]", v %>
        <% end %>
      <% else %>
        <%= hidden_field_tag key, value %>
      <% end %>
    <% end %>
    
    <%= text_field_tag :term, search_keyword, class: "search-query form-control",
      placeholder: t("crud.message.enter_search_term") %>

    <button id="search-button" type="submit" class="btn btn-primary ml-2">
      <%= crud_icon_tag :search, label: t("crud.action.search") %>
    </button>
  </div>

  <% if columns_for_advanced_search.present? %>
  <div class="advanced-section">
    <div class="advanced-form mt-2">
    
      <fieldset>
        <% columns_for_advanced_search.each do |column| %>
          <%= advanced_search_input f, column %>
        <% end %>
      </fieldset>
    
      <div class="advanced-form-footer mt-1">
        <button type="button" class="btn btn-success mr-auto display-switch"><%= t("crud.action.redisplay") %></button>
        <a href="#" class="btn btn-clear"><%= t("crud.action.clear") %></a>
        <button type="submit" class="btn btn-primary">
          <%= crud_icon_tag :search %> <%= t("crud.action.search") %>
        </button>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
