<%= content_tag :div, id: temp_id(:index), class: "index" do %>
  <%= render "index_header" %>

  <%= crud_form resource, {url: ""}.merge(crud_form_options) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= crud_table columns, resources, index_actions, index_crud_table_options.merge( { selectable: true } ) %>
    <%= render "index_footer" %>

    <%= hidden_field_tag nil, id: modal_target %>
    <% unless modal? %>
      <div class="form-group d-flex justify-content-end">
        <%= link_to t("crud.action.cancel"), cancel_path, class: "btn btn-link btn-cancel" %>
        <%= f.button :submit, @submit_label, class: "btn-primary", id: "table-form-button" %>
      </div>
    <% end %>
  <% end %>
  <%= script_for_index_selector index_crud_table_options %>
<% end %>
