<% id = "modal_form_#{rand(100000000)}" %>
<div id="<%= id %>" class="modal hide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= @title %></h3>
      </div>
      <div class="modal-body">
        <%= render "form" %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"><%= t("crud.action.ok") %></button>
        <button class="btn btn-cancel"><%= t("crud.action.cancel") %></button>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
  $(function() {
    var dialog = $("#<%= id %>");
    dialog.find("button.btn-cancel").attr("data-dismiss", "modal");
    dialog.find("button.btn-primary").on("click", function() {
      var form = dialog.find("form");
      var method = form.attr("method");
      var action = form.attr("action");
      $[method](action, form.serialize(), function(data) {
        $("a[data-toggle='modal-form'][data-action='" + action + "']").trigger("crud:success", [data]);
        $(document.body).trigger("crud:success", [data]);
        dialog.modal("hide");
      }).fail(function(xhr) {
        if (xhr.status == 422) {
          dialog.modal("hide");
          $(document.body).append(xhr.responseText);
        } else {
          alert(xhr.responseText);
        }
      });
      return false;
    });
    dialog.modal().on("hidden", function() { dialog.remove(); });
  });
  <% end %>
</div>
