<h1><%= @title %></h1>

<%= render "index_header" %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= link_to_sort column %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= column_html resource, column %></td>
        <% end %>
        <td>
          <% index_actions.each do |action| %>
            <%= link_to_action action, resource %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "index_footer" %>

