<% if params[:container] %>
  $("#<%= params[:container] %>").html("<%= escape_javascript render(params[:template] || (modal? ? "selectable_index" : "index")) %>").prepend("<%= escape_javascript bootstrap_flash_messages %>");
  <%= script_for_index_selector(exclude_script_tag: true) if modal? %>
<% elsif modal? %>
  <% params[:container] = "modal-body" %>
  <% params[:template] = "selectable_index" %>
  <% content_for(:modal_footer) do %>
    <button class="btn btn-link btn-cancel" data-dismiss="modal"><%= t("crud.action.cancel") %></button>
    <button class="btn btn-primary"><%= t("crud.action.ok") %></button>
  <% end %>

  $(function() {
    var modal = $("<%= escape_javascript render(partial: params[:template], layout: "modal") %>").appendTo(document.body).modal();
    var modalTarget = $("#<%= modal_target %>");
    modal.on("hidden.bs.modal", function() { modal.remove(); });
    modal.find(".modal-footer .btn-primary").on("click", function() {
      var data = modalTarget.data("changed");
      var selected = [];
      for (var key in data) {
        selected.push(data[key]);
      }
      modalTarget.data("selected", selected);
      modalTarget.removeData("changed");
      $("#<%= modal_target %>").trigger("change");
      modal.modal("hide");
    });
  });
<% end %>
