<h1><%= @title %></h1>

<div class="clearfix">
  <div class="pull-right">
    <%= link_to_action :new, resource %>
  </div>

  <form class="form-search pull-right" method="GET">
    <div class="input-append">
      <%= text_field_tag :term, params[:term], :class => "search-query",
        :placeholder => t("crud.message.enter_search_term") %>
      <button id="search-button" type="submit" class="btn">
        <i class="icon-search"></i>
      </button>
    </div>
  </form>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= link_to_sort column %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= to_label resource.send(column) %></td>
        <% end %>
        <td>
          <%= link_to_action :show, resource %>
          <%= link_to_action :edit, resource %>
          <%= link_to_action :destroy, resource %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix">
  <div class="search-result muted pull-left">
    <%= page_entries_info resources %>
  </div>

  <div class="pull-right">
    <%= paginate resources %>
  </div>
</div>
