<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
      <%= link_to "Dummy", root_path, :class => "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <%= header_links %>
        <%= form_tag "/", class: "form-inline" do %>
          <%= orm_select %>
          <%= locale_select %>
          <%= login_user_select %>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <%= bootstrap_flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
