<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body class="app header-fixed sidebar-fixed footer-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Dummy", root_url, class: "navbar-brand" %>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <%= link_to "home", root_url, class: "nav-link" %>
        </li>
      </ul>

      <ul class="nav navbar-nav d-md-down-none ml-auto">
        <%= form_tag "/", class: "form-inline" do %>
          <li class="nav-item px-3">
            <%= orm_select %>
          </li>
          <li class="nav-item px-3">
            <%= locale_select %>
          </li>
          <li class="nav-item px-3">
            <%= login_user_select %>
          </li>
        <% end %>
      </ul>
    </header>

    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-title">menu</li>
            <%= header_links %>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>

      <main class="main">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
        </ol>
        <div class="container-fluid">
          <%= bootstrap_flash_messages %>
          <%= yield %>
        </div>
      </main>
    </div>

    <footer class="app-footer">
      <span>copyright</span>
      <span class="ml-auto">ASE</span>
    </footer>

  </body>
</html>
