<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dummy" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to "People", people_path  %></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </body>
</html>
